
		forumpost .topic {
			background-image: none !important;
		}
		*:not([class*="mce"]):not([id*="mce"]):not([id*="editor"]){
			/* it works well only with * selector but mce editor gets unusable */
			background-color: #2D2C2C !important;
			background-image: none !important;
			text-shadow: #D5D4D4 !important;
		}
		
		*:not([class*="mce"]):not([id*="mce"]):not([id*="editor"]){
			/* it works well only with * selector but mce editor gets unusable */
			color: #D5D4D4 !important;
		}
		#content a, .tabrow0 span {
			color: #D5D4D4 !important;
		}
		.tabrow0 span:hover {
			text-decoration: underline;
		}
		.block_accessibility .outer {
			border-color: #000000 !important;
		}
		/* not working there is a gap between the footer text and rest of the page that won't change colours */
		#page-footer.bg-dark {
    			background-color: #D5D4D4 !important;
		}